<!DOCTYPE HTML>
<div>
  {% block content -%}
  
  <div class="product">
    <img class="product-img" src="{{value["image_url"]}}"/>
    <p class="product-title">{{value["title"]}}</p>
    <hr class="product-divider">
    <p class="product-price">PRICE: $(backend needs to send price)</p>
  </div>

  <div class="stat-sidebar">
    <div class="stat">
      <div>(%)</div>
      <p>Percentage of Fake Reviews</p>
      <p>{{value["percentage_fake"]}}%</p>
    </div>
    <div class="stat">
      <div>(*)</div>
      <p>Percentage of Fake Reviews</p>
      <p>{{value["raw_rating"]}}</p>
    </div>
    <div class="stat">
      <div>(*)</div>
      <p>Without Fake Reviews</p>
      <p>{{value["modified_rating"]}}</p>
    </div>
  </div>

  <p>TESTING--Displaying the json: {{value}} </p>

  {%- endblock content %}
</div>

