<!DOCTYPE HTML>
<html>
	<head>
		<title>Amazon Fake Buster</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="search.html" class="logo"><strong>Amazon Fake Buster</strong> <span>by Claire, Humza, Angelo, Kyle, Nathan</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="landing.html">Landing</a></li>
							<li><a href="generic.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Amazon Fake Buster</h1>
							</header>
							<div class="row gtr-uniform">
								<div class="col-6 col-12-xsmall">
									<input type="text" name="demo-name" id="demo-name" value="" placeholder="URL Here" width="200%"/>
								</div>
								<div class="col-12">
									<select name="demo-category" id="demo-category">
										<option value="">- Select an Option -</option>
										<option value="1">Search by URL</option>
										<option value="1">Search by Product</option>
									</select>
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><a href="#one" class="button next scrolly">Bust it!</a></li>
									</ul>
								</div>
							</div>
						</div>
					</section>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<article>
									<span class="image">
										<img src="images/bose-resized.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="" class="link">Bose QuietComfort 35 II Wireless Bluetooth Headphones</a></h3>
										<p>Price: $199.00</p>
									</header>
								</article>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-percent"></span>
										<h3>Percentage of Fake Reviews</h3>
										<span>63.7%</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-star"></span>
										<h3>With Fake Reviews</h3>
										<span>4.7 Stars</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-star"></span>
										<h3>Without Fake Reviews</h3>
										<span>3.6 Stars</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						
						<ul class="copyright">
							<li>CSCE 470</li><li>Professor Ruihong Huang</li>
						</ul>
					</div>
				</footer>

		</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>